{% extends 'base.html' %}
{% block content %}
    {% include 'includes/navbar.html' %}
    {% include 'includes/alerts.html' %}
<div class="container mt-5">
  <div class="row mt-5">
        <div class="col-lg-2 col-sm-0"></div>

         <div class="col-lg-6 col-sm-12 p-0">
             <div class="card p-0">
                  <div class="card-body">
                    <h4 class="card-title">Username, date</h4>
                      <p>Photo</p>
                      <i class="fa-solid fa-heart text-dark"></i>
                      <i class="fa-solid fa-comment text-dark"></i>
                        <p class="card-text">Username</p>
                      <p>Description</p>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-0"></div>
         </div>

    </div>
</div>

{% endblock %}