{% extends 'base.html' %}
{% block content %}
    {% include 'includes/navbar.html' %}
    {% include 'includes/alerts.html' %}
<div class="container mt-5">
{% if posts %}
    {% for post in posts %}
        <div class="row mt-5">
            <div class="col-lg-2 col-sm-0"></div>
             <div class="col-lg-7 col-sm-12 p-0">
                 <div class="card p-0">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-lg-8 col-sm-8">
                                  <a class="text-decoration-none" href="{% url 'user_profile' post.owner.user.username_slug %}">
                                  <img class="avatar avatar-32 bg-light rounded-circle text-white" src="{{ post.owner.profile_picture.url }}">
                                  <h4 class="card-title d-inline-block">{{ post.owner.user.username}}</h4></a>

                              </div>
                               <div class="col-lg-4 col-sm-4">
                                    <p>{{ post.created_at }}</p>
                              </div>
                          </div>
                          <img src="{{ post.photo.url }}" class="w-100 h-100 rounded" style="height: 40rem; width: 40rem" alt="Post Photo">
                          <a href="{% url 'like_post' post.id %}"><i class="fa-solid fa-heart fa-2x text-primary mt-1"></i></a>
                          <a href="{% url 'single_post' post.id %}"><i class="fa-solid fa-comment fa-2x text-primary ml-2 mt-1"></i></a>
                          <p class="d-inline-block">Likes: {{ post.post_likes }}</p>
                            <p class="card-text">{{ post.owner.user.username}}</p>
                          <p>{{ post.description}}</p>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-0"></div>
         </div>
    {% endfor %}
    {% elif users %}
    {% for user in users %}
    <div class="row mt-5">
            <div class="col-lg-2 col-sm-0"></div>
             <div class="col-lg-6 col-sm-12 p-0">
                 <div class="card p-0">

                      <div class="card-body">
                          <div class="row">
                              <div class="col-lg-6 col-sm-4">
                                  <img class="h-50 w-50 rounded" src="{{ user.profile_picture.url }}" alt="User avatar">
                                  <h4 class="card-title d-inline-block"><a class="text-decoration-none" href="{% url 'user_profile' user.user.username_slug %}">{{ user.user.username}}</a></h4>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12 col-sm-12">
                                  <p>{{ user.bio }}</p>
                              </div>
                               <div class="col-lg-12 col-sm-12">
                                  <b>Followers: {{ user.followers_count }}</b>
                              </div>
                              <div class="col-lg-12 col-sm-12">
                                  <b>Following: {{ user.following_count }}</b>
                              </div>
                               <div class="col-lg-12 col-sm-12">
                                  <b>Posts: {{ user.posts_count }}</b>
                              </div>
                          </div>
                      </div>

                    </div>
                </div>
                <div class="col-lg-3 col-sm-0"></div>
         </div>
    {% endfor %}
{% endif %}


    </div>
</div>

{% endblock %}