{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'includes/navbar.html' %}
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-12 mt-5">{% include 'includes/alerts.html' %}</div>
        </div>

            <div class="row mt-4">
                <div class="col-lg-4 col-sm-12 text-center text-lg-left mt-4">
                      <div class="p-0 button-container">
                                    {% if user_profile.has_actual_story %}
                                        <figure class="figure">
                                          {% for story in user_profile.user_story_urls %}
                                               <a href="{{ story.story_image.url }}" rel="lightbox" data-lightbox="image-1" data-title="{{ user_profile.user.username }}'s Story">
                                           {% endfor %}
                                            <img class="avatar avatar-128 bg-light rounded-circle text-white image-id" src="{{ user_profile.profile_picture.url }}" alt="user avatar"></a>
                                        {% if get_current_user_profile.pk == user_profile.pk %}
                                            <figcaption class="figure-caption text-center"><a class="text-decoration-none mt-1" href="" data-toggle="modal" data-target="#modalUserActions"><i class="fa-light fa-plus fa-lg"></i> Add Story</a></figcaption>
                                       {% endif %}
                                        </figure>
                                    {% else %}
                                          <figure class="figure">
                                          <img class="avatar avatar-128 bg-light rounded-circle text-white" src="{{ user_profile.profile_picture.url }}" alt="avatar">
                                        {% if get_current_user_profile.pk == user_profile.pk %}
                                            <figcaption class="figure-caption text-center"><a class="text-decoration-none mt-1" href="" data-toggle="modal" data-target="#modalUserActions"><i class="fa-light fa-plus fa-lg"></i> Add Story</a></figcaption>
                                       {% endif %}                                          </figure>
                                      {% endif %}
                      </div>
                </div>

                <div class="col-lg-8 col-sm-12 mt-4">
                      <div class="row mt-4">
                              <div class="col-lg-3 col-sm-4 text-lg-left ml-lg-2 text-center">
                                  <h3 class="text-primary">{{ user_profile.user.username }}</h3>
                              </div>
                                <div class="col-lg-3 col-sm-4 ml-lg-4">
                                {% if not user_profile.user.pk == get_current_user_profile.user.pk %}
                                      {% if not is_followed %}
                                      <form action="{% url 'user_profile' user_profile.user.username_slug %}" method="post">
                                          {% csrf_token %}
                                        <button class="btn btn-sm btn-primary text-light btn-submit rounded mt-1 btn-block">Follow</button>
                                      </form>
                                      {% else %}
                                                <form action="{% url 'unfollow' user_profile.user.id %}" method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-primary btn-sm rounded text-light btn-submit mt-1 btn-block">Unfollow</button>

                                      </form>
                                      {% endif %}
                                {% endif %}
                                  </div>

                                <div class="col-lg-6 col-sm-4"></div>
                      </div>
                            <div class="row text-lg-left">
                                <div class="col-12 mt-2 ml-lg-2"><small>{{ user_profile.bio }}</small></div>
                            </div>
                            <div class="row mt-4 text-lg-left">
                                <div class="col-lg-2 col-4 active-color mt-2 mt-lg-0 "><button class="bg-light text-dark btn-light btn-sm btn rounded"><b>{{ user_profile.posts_count }}</b> Posts</button></div>
                                  <div class="col-lg-2 col-4 active-color mt-2 mt-lg-0"><button class="bg-light text-dark btn-light btn-sm btn rounded" data-toggle="modal" data-target="#exampleModal"><b>{{ user_profile.followers_count }}</b> Followers</button></div>
                                  <div class="col-lg-2 col-4 active-color mt-2 mt-lg-0"><button class="bg-light text-dark btn-light btn-sm btn rounded" data-toggle="modal" data-target="#exampleModal2"><b>{{ user_profile.following_count }}</b> Following</button></div>
                            </div>
                </div>

            </div>
            {% if user_profile.get_saved_stories %}
                <div class="mt-5"></div>
                <div class="row mt-5 ml-2">
                {% for category in user_profile.get_story_categories %}
                    {% if category.first_of_category_story_url is not None %}
                     <figure class="figure ml-4">
                    {% for cat_story in category.all_category_stories %}
                        <a href="{{ cat_story.story_image.url }}" data-lightbox="{{ cat_story.category }}" data-title="{{ cat_story.category }}: {{ cat_story.user.user.username }}'s Story">
                    {% endfor %}
                    <img class="avatar avatar-64 bg-light rounded-circle text-white image-stories-profile" src="{{ category.first_of_category_story_url }}" alt="Stories"></a>
                    <figcaption class="text-center"><a class="text-decoration-none" href=""><small class="card-title">{{ category.category}}</small></a></figcaption>
                </figure>
                    {% endif %}
                {% endfor %}
                </div>
                <hr class="mt-3">
            {% else %}
                <hr class="mt-5">
            {% endif %}


            <div class="row">
            {% if posts %}
                {% for post in posts %}
                <div class="col-lg-4 col-sm-12">
                <div class="card mt-4" style="height: 40rem;">
                              <div class="card-body">
                              {% if viewer_profile.user.pk == user_profile.user.pk %}
                              <div class="row">
                                  <div class="col-12 text-right">
                                      <a href="{% url 'edit_post' post.id %}"><i class="fa-solid fa-pen text-primary mb-4 mr-2"></i></a>
                                      <span>
                                        <a href="{% url 'delete_post' post.id %}"><i class="fa-solid fa-trash-can text-primary mb-4"></i></a>
                                      </span>
                                  </div>
                              </div>
                              {% endif %}
                                  <a href="{% url 'single_post' post.id %}"><img src="{{ post.photo.url }}" class="rounded img-fluid" style="height: 20rem; width: 20rem" alt="Post Photo"></a>
                                  <a class="text-decoration-none" href="{% url 'user_profile' post.owner.user.username_slug %}">
                                    <h4 class="card-title d-inline-block mt-2">{{ post.owner.user.username}}</h4>
                                  </a>
                                  <p class="card-text mt-2"><small>{{ post.description }}</small></p>
                              {% if post in get_liked_posts_by_user %}
                                    <a href="{% url 'like_post' post.id %}"><i class="fa-solid fa-heart fa-2x text-danger mt-1"></i></a>
                               {% else %}
                                    <a href="{% url 'like_post' post.id %}"><i class="fa-regular fa-heart fa-2x text-primary mt-1"></i></a>
                            {% endif %}
                                  <a href="{% url 'single_post' post.id %}"><i class="fa-regular fa-comment fa-2x text-primary ml-2"></i></a>
                                  <p class="card-text">Likes: {{ post.post_likes }}</p>
                                    {% if post.view_recent_comments %}
                                    <small class="d-block"><b>Comments</b> <a class="text-decoration-none" href="{% url 'single_post' post.id %}">See all ({{ post.post_comments }})</a></small>
                                    {% endif %}
                                    <p class="card-text mt-2">{{ post.created_at }}</p>
                              </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-lg-12 col-sm-12 text-center mt-5">
                    <i class="fa-solid fa-camera fa-5x text-center text-primary"></i>
                </div>
                <div class="col-lg-12 col-sm-12 text-center mt-5">
                    <h4>No Posts Yet</h4>
                    <small class="text-muted">When {{ user_profile.user.username }} posts, you'll see their photos here.</small>
                </div>
                 <div class="col-lg-12 col-sm-12 text-center mt-5">
                </div>
                 <div class="col-lg-12 col-sm-12 text-center mt-5">
                </div>
                 <div class="col-lg-12 col-sm-12 text-center mt-5">
                </div>
            {% endif %}
            </div>
    </div>
{#    MODAL FOR FOLLOWERS #}
    <div class="modal fade mt-5" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog mt-5" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Followers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  {% if user_profile.get_all_followers %}
                        {% for followers in user_profile.get_all_followers %}
                            <div class="col-12 mt-2">
                                    <a class="text-decoration-none" href="{% url 'user_profile' followers.user.username_slug %}">
                                     <img class="avatar avatar-64 bg-light rounded-circle text-white" src="{{ followers.profile_picture.url }}">
                                     <h4 class="card-title d-inline-block ml-2 pt-1">{{ followers.user.username }}</h4></a>
                            <hr>
                            </div>
                        {% endfor %}
                      {% else %}
                            <div class="col-12 mt-2">
                                    <h3 class="text-muted">This user has no followers.</h3>
                            </div>
                  {% endif %}
                    </div>
                </div>
            </div>
    </div>

{#    MODAL FOR FOLLOWING #}
     <div class="modal fade mt-5" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
              <div class="modal-dialog mt-5" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal2Label">Following</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  {% if user_profile.get_all_following%}
                        {% for following in user_profile.get_all_following %}
                            <div class="col-12 mt-2">
                                    <a class="text-decoration-none" href="{% url 'user_profile' following.user.username_slug %}">
                                     <img class="avatar avatar-64 bg-light rounded-circle text-white" src="{{ following.profile_picture.url }}">
                                     <h4 class="card-title d-inline-block ml-2 pt-1">{{ following.user.username }}</h4></a>
                            </div>
                            <hr>
                        {% endfor %}
                      {% else %}
                        <div class="col-12 mt-2">
                                    <h3 class="text-muted">This user has no followings.</h3>
                            </div>
                  {% endif %}
                    </div>
                </div>
            </div>
    </div>

{#    Modal for user actions #}
    <div class="modal fade mt-5" id="modalUserActions" tabindex="-1" role="dialog" aria-labelledby="modalUserActions" aria-hidden="true">
              <div class="modal-dialog mt-5" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-primary text-light">
                    <h5 class="modal-title" id="modalUserActions">Add Your Story</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="text-light">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                         <form action="{% url 'create_story' %}" method="post" enctype="multipart/form-data">
             {% csrf_token %}
             <div class="card p-0 mt-5">
                  <div class="card-body p-0 rounded">
                      <img id="photo" class="w-100" style="height: 15rem; width: 20rem" src="{% static 'images/overview.jpg' %}">
                  </div>
                </div>
               {% for field in form %}
                        <div class="fieldWrapper mt-4" style="max-height: 10rem">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    {% endfor %}
                          <button class="btn btn-submit btn-primary btn-block mt-2">Add Story</button>
             </form>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
