{% extends 'base.html' %}
{% block content %}
    {% include 'includes/navbar.html' %}
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-4 col-sm-6 mt-4 text-left">
                  <div class="p-0">
                      <img class="avatar avatar-128 bg-light rounded-circle text-white" src="{{ user_profile.profile_picture.url }}">
                  </div>
            </div>

            <div class="col-lg-8 col-sm-6 mt-4">
                  <div class="row text-right mt-4">
                      <div class="col-4">
                          <h3 class="text-primary">{{ user_profile.user.username }}</h3>
                      </div>
                      <div class="col-8 text-left">
                          {% if not is_followed %}
                          <form action="{% url 'user_profile' user_profile.user.username_slug %}" method="post">
                              {% csrf_token %}
                            <button class="btn btn-primary text-light btn-submit">Follow</button>
                          </form>
                          {% else %}
                                <form action="{% url 'unfollow' user_profile.user.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-primary text-light btn-submit">Unfollow</button>
                          </form>
                          {% endif %}

                      </div>
                  </div>
                <div class="row mt-4">
                    <div class="col-lg-8 text-center"><b>{{ user_profile.posts_count }}</b> Posts <b class="ml-1">{{ user_profile.followers_count }}</b> Followers <b class="ml-1">{{ user_profile.following_count }}</b> Following</div>
                </div>
            </div>
        </div>
        <hr>
    <div class="row">
        {% for post in posts %}
        <div class="col-lg-4 col-sm-12">
        <div class="card mt-4">
                      <div class="card-body">
                          <img src="{{ post.photo.url }}" class="rounded img-fluid" style="height: 20rem; width: 20rem" alt="Post Photo">
                          <p class="card-text mt-2"><b>{{ post.description }}</b></p>
                          <a href="{% url 'like_post' post.id %}"><i class="fa-solid fa-heart fa-2x text-primary"></i></a>
                          <a href="{% url 'single_post' post.id %}"><i class="fa-solid fa-comment fa-2x text-primary ml-2"></i></a>
                          <p class="card-text"><b>Likes: {{ post.post_likes }}</b></p>
                            <p class="card-text">{{ post.created_at }}</p>
                      </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}