{% extends 'base.html' %}
{% block styles %}
    <style>html, body {margin: 0; height: 100%; overflow: hidden}
    @media screen and (max-width: 1247px) {
    .mobile-space {margin-top:0!important;overflow: scroll!important;}
    }
    </style>
{% endblock %}
{% block content %}
    <div class="container vh-100 mt-4 mobile-space">
        <div class="row mt-4">
            <div class="col-lg-12 col-sm-12 mt-4">
                <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                     <div class="card w-100 h-100">
                      <div class="card-body text-center">
                          <a href="{% url 'login' %}"><img class="w-25 h-25 rounded text-center" src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png" alt=""></a>
                        <h5 class="mt-4">Sign up to see photos and videos from your friends.</h5>
                          {% include "includes/alerts.html" %}
                      <div class="row">
                          {% for field in form %}
                            <div class="col-sm-6 mt-4">
                                {{ field.errors }}
                                {{ field }}
                            </div>
                          {% endfor %}
                      </div>
                          <button class="btn btn-submit btn-primary btn-block mt-4">Sign up</button>
                </form>
                        <div class="row mt-4">
                            <div class="col-5 p-0"><hr></div>
                            <div class="col-2 text-center">OR</div>
                            <div class="col-5 p-0"><hr></div>
                        </div>
                        <a href="{% url 'login' %}" class="text-decoration-none"><p class="text-center">Already have an account?</p></a>
                        <a href="{% url 'forgot_password' %}" class="text-decoration-none"><p class="text-center">Forgot password?</p></a>
                      </div>

        </div>
            </div>


{#            Footer #}

        </div>
     <div class="row d-lg-none mt-5"></div>
    <div class="row d-lg-none mt-5"></div>
  <div class="navbar-fixed-bottom mt-5">
                <div class="col-12">
                    <div class="row">
                        <div class="mx-auto col-4 text-center">
                            <a class="text-decoration-none text-secondary" href="https://github.com/drutkoowski"><i class="fa-brands fa-github"></i> Github</a>
                        </div>
                         <div class="col-4 text-center">
                             <a class="text-decoration-none text-secondary" href="https://www.facebook.com/drutkoowski/"><i class="fa-brands fa-facebook"></i> Facebook</a>
                        </div>
                         <div class="mx-auto col-4 text-center">
                             <a class="text-decoration-none text-secondary" href="mailto:d.rutkowski2000@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i> Contact </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 mb-2 mt-2 text-center text-secondary">
                           © 2022 Copyright Damian Rutkowski
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>
    </div>
{% endblock %}
