.empty-text {
	color: #777;
	font-size: 1.5rem;
	text-align: center;
}

.received-message {
	background-color: #f3f3f3;
	border-radius: 30px;
	padding: 10px 25px;


}

.sent-message {
	background-color: rgb(1,196,255);
	color: #fff;
	border-radius: 30px;
	padding: 10px 25px;
}

.message-receiver-container {
	margin-left: auto;
	margin-right: 0;
}

.message-image {
	border-radius: 10px;
	max-width: 35%;
	height: auto;
}

.active-color > .btn-light:hover, .active-color > .btn-light:focus, .active-color > .btn-light:active:focus, .active-color > .btn-light:active, .active-color > .btn-light:active:hover{
  background-color: #F8F9FA!important;
  border-color: #F8F9FA!important;
	outline: none!important;
  box-shadow: none!important;
}


.image-id {
  border: solid 3px;
  animation: rainbow 9s linear infinite;
}

@keyframes rainbow {
  	0% { border-color: #ef3550 }
	15% { border-color: #eeff41 }
  30% { border-color: #f48fb1 }
  45% { border-color: #2196f3 }
  50% { border-color: #26c6da }
  60% { border-color: #eeff41 }
  80% { border-color: #f9a825 }
  100% { border-color: #ff5722 }
}


.image-stories-profile {
  border: solid 3px;
  animation: stories 5s linear infinite;
}

@keyframes stories {
  	0% { border-color: #B0B0B0 }
	25% { border-color: #C0C0C0 }
  	50% { border-color: #D3D3D3 }
	70% { border-color: #E8E8E8 }
  	100% { border-color: #B0B0B0 }
}




.dropdown-toggle::after {
   transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

