
<div class="row text-center text-secondary mt-4">
                <div class="col-12">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="mx-auto col-2">
                            <a class="text-decoration-none text-secondary" href="https://github.com/drutkoowski"><i class="fa-brands fa-github"></i> Github</a>
                        </div>
                         <div class="mx-auto col-2">
                             <a class="text-decoration-none text-secondary" href="https://www.facebook.com/drutkoowski/"><i class="fa-brands fa-facebook"></i> Facebook</a>
                        </div>
                         <div class="mx-auto col-2">
                             <a class="text-decoration-none text-secondary" href="mailto:d.rutkowski2000@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i>  Contact me</a>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 mb-2 mt-2 text-center text-secondary">
                           © 2022 Copyright Damian Rutkowski
                        </div>
                    </div>
                </div>
            </div>