   <div class="row fixed-bottom text-center text-secondary">
                <div class="col-12">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="mx-auto col-2">
                            Github
                        </div>
                         <div class="mx-auto col-2">
                            Facebook
                        </div>
                         <div class="mx-auto col-2">
                            Contact me
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 mb-2 mt-2 text-center text-secondary">
                           © 2022 Copyright Damian Rutkowski
                        </div>
                    </div>
                </div>
            </div>