<div class="row mt-3">
    <div class="col-lg-4 col-sm-4 text-right">
        <a href="{% url 'login' %}"><img class="w-10 h-10 rounded text-center" src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png" alt=""></a>
    </div>
    <div class="col-lg-4 col-sm-4">
                    <form action="" class="search mt-2" method="get">
                        <div class="input-group w-50">
                            <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword">

                            <div class="input-group-append">
                              <button class="btn btn-light ml-1" type="submit">
                                <i class="fa fa-search text-primary bg-light"></i>
                              </button>
                            </div>
                        </div>
                    </form> <!-- search-wrap .end// -->
    </div>
    <div class="col-lg-4 col-sm-4">c</div>
    <hr class="text-dark">
</div>