
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light container" style="z-index: 1">
        <a href="{% url 'home' %}"><img class="w-10 h-10 rounded text-center" src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
       <li class="nav-item">
        <a class="text-decoration-none text-primary nav-link" href="{% url 'create_post' %}"><i class="fa-solid fa-square-plus fa-2x"></i></a>
      </li>
        <li class="nav-item">
        <a class="text-decoration-none nav-link" href="{% url 'user_profile' user.username_slug %}"><img src="{{ get_avatar }}" class="rounded-circle"
            height="33" alt="Avatar" loading="lazy" /></a>
      </li>

        <li class="nav-item">
        <a class="text-decoration-none nav-link text-primary" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i></a>
      </li>

    </ul>
      <form action="{% url 'search' %}" class="search mt-2 form-inline my-2 my-lg-0" method="get">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
          <button class="btn btn-primary my-2 my-sm-0 submit" type="submit">Search</button>
    </form>
  </div>
    </nav>