{% extends 'base.html' %}

{% block content %}
    {% include 'includes/navbar.html' %}
    {% include 'includes/alerts.html' %}
<div class="container mt-5">

    <div class="row">
        <div class="col-md-12 p-5">
            <h3>Choose who you want to talk with</h3>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form action="" method="POST">
                {% csrf_token %}
                <p>Enter the username of receiver below</p>
                {{ form }}
                <div class="d-grid gap-2">
                    <button class="btn btn-primary mt-3" type="submit">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}