{% extends 'base.html' %}
{% block content %}
    {% include 'includes/navbar.html' %}
    {% include 'includes/alerts.html' %}
<div class="container mt-5">
 {% if message_list.all.count == 0 %}
     <div class="mt-5">
     <div class="row pl-0 pr-0 my-1">
            <div class="card col-md-12 mt-5 shadow-sm">
                {% if thread.receiver == request.user %}
                    <h5 class="mt-3 mb-3">Your conversation with <a class="text-decoration-none" href="{% url 'user_profile' thread.user.user.username_slug %}">@{{ thread.user }}</a></h5>
                {% else %}
                    <h5 class="mt-3 mb-3">Your conversation with <a class="text-decoration-none" href="{% url 'user_profile' thread.user.user.username_slug %}">@{{ thread.receiver }}</a></h5>
                {% endif %}
            </div>
        </div>
            <div class="row my-5">
                <div class="col-md-12">
                    <p class="empty-text">
                        No Messages
                    </p>
                </div>
            </div>
      <div class="row">
        <div class="card col-md-12 p-3 shadow-sm">
            <form action="{% url 'create-message' thread.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-primary" type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
  {% else %}
        <div class="row pl-0 pr-0 my-1">
            <div class="card col-md-12 mt-5 shadow-sm">
                {% if thread.receiver == request.user %}
                    <h5 class="mt-3 mb-3">Your conversation with <a class="text-decoration-none" href="{% url 'user_profile' thread.user.user.username_slug %}">@{{ thread.user }}</a></h5>
                {% else %}
                    <h5 class="mt-3 mb-3">Your conversation with <a class="text-decoration-none" href="{% url 'user_profile' thread.receiver.user.username_slug %}">@{{ thread.receiver }}</a></h5>
                {% endif %}
            </div>
        </div>
<div style="max-height: 50vh;overflow-y:auto">
    {% for message in message_list %}
        <div class="row">
            {% if message.sender_user == current_user_profile %}
            <div class="col-md-6 my-1">
                    {% if message.image %}
                        <div>
                            <img src="{{ message.image.url }}" alt="Message" class="message-image">
                        </div>
                     {% endif %}
                    <div class="sent-message my-3">
                        <p>{{ message.body }}</p><span class="text-light"><small>{{ message.date}}</small></span>
                    </div>
            </div>
            <div class="col-md-6 my-1"></div>
                {% elif message.receiver_user == current_user_profile %}
                    <div class="col-md-6 my-1"></div>
                    <div class="col-md-6 my-1">

                    {% if message.image %}
                        <div class="message-receiver-container ms-auto">
                            <img src="{{ message.image.url }}" alt="Message" class="message-image">
                        </div>
                     {% endif %}
                        <div class="received-message my-3">
                            <p>{{ message.body }}</p> <span class="text-light text-muted"><small>{{ message.date}}</small></span>
                        </div>
                    </div>
                {% endif %}
            </div>
    {% endfor %}
</div>
    <div class="row" id="mess">
        <div class="card col-md-12 p-3 shadow-sm">
            <form action="{% url 'create-message' thread.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-primary" type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
